<form action="{{act}}" method="post">
    <input type="hidden" name="input_id" id="input_id" value="{{id}}"><br>
    <label for="nome">Modelo</label><br>
    <input type="text" name="input_fabricante" id="input_fabricante" value="{{fab}}"><br>
    <label for="idade">Fabricante</label><br>
    <input type="text" name="input_modelo" id="input_modelo" value="{{mod}}"><br>

    <label for="idade">Ano</label><br>
    <input type="text" name="input_ano" id="input_ano" value="{{ano}}"><br>

    <label for="idade">Cor</label><br>
    <input type="text" name="input_cor" id="input_cor" value="{{cor}}"><br>

    <label for="idade">Placa</label><br>
    <input type="text" name="input_placa" id="input_placa" value="{{placa}}"><br>
    <br>
    <button>Salvar</button>
</form>